
<% @title = "Filter" %>

<% content_for :description do %>
<h4>Filter the Work Orders List</h4>
<% end %>

<div class="container">
  <div class="row">
    <div id="content" class="col-12 col-md-9">
      <div class="card ">
        <div class="card-body">

          <%= form_tag(workorders_path, method: :get, class: "form") do %>

          <div class="input-group">
          <%= collection_select(:manager, :id, User.where(user_type: 'manager').order(:email), :id, :email, {prompt: 'Select a manager'}, {class: "form-control"}) %>
          </div>
          <br>
          <div class="input-group">
          <%= collection_select(:technician, :id, User.where(user_type: 'technician').order(:email), :id, :email, {prompt: 'Select a technician'}, {class: "form-control"}) %>
          </div>
          <br>
          <div class="input-group">
            <%= select_tag :status, options_for_select(Workorder::STATUS), prompt: "select a status", class: "form-control" %>
          </div>
          <br>

          <div class="input-group">
              <%= select_tag :due_date_selector, options_for_select(@due_date_selector), class: 'form-control' %>
            </div>
          <br>

          <div class="input-group" id="due_date_input">
            </div>
          <br>

          <div class="d-flex">
            <div class="ml-auto">
              <%= submit_tag 'Apply the filter', class: "btn btn-primary special_button" %>
              <% end %>
              <%= link_to "Cancel", workorders_path, class: 'btn btn-outline-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('due_date_selector').addEventListener('change', function(e) {
    // console.log('hzy in jks');
     let resultat =  e.currentTarget.value;
     // console.log(resultat);
     if( resultat === "Filter on due date")  {
        document.getElementById('due_date_input').innerHTML =  "<%= j date_select :date_planned, {}, {}, class: 'form-control col-md-4' %>";
     } else {
         document.getElementById('due_date_input').innerHTML =  " " ;
     }
  }  );
</script>
