<% @title = "Listing workorders" %>

<% content_for :description do %>
<p>Edit this template in <code>app/views/Workorders/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
<%= link_to new_workorder_path, class: 'btn btn-primary btn-large pull-right' do %>
<%= fa_icon_tag "plus" %> Add Workorder
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card card-sheet sheet-condensed">
        <table class="table table-striped table-hover table-sm-responsive">
          <thead>
            <tr>
              <th>Address / Description</th>
              <th>Date planned / Date done</th>
              <th>Report</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @workorders.each do |workorder| %>
            <tr>
              <td><%= workorder.address %> <br> <%= workorder.description %></td>
              <td><%= workorder.date_planned %> <br> <%= workorder.date_done %></td>
              <td><%= workorder.report %></td>
              <td><%= workorder.status %></td>
              <td class="actions text-right">
                <div class="btn-group">
                  <%= link_to theme_icon_tag("eye"), workorder, 'data-toggle': 'tooltip', title: 'Show', class: "btn btn-link" %>
                  <%= link_to theme_icon_tag("pencil-alt"), edit_workorder_path(workorder), 'data-toggle': 'tooltip', title: 'Edit', class: "btn btn-link" %>
                  <%= link_to theme_icon_tag("trash"), workorder, 'data-toggle': 'tooltip', title: 'Delete',
                  data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-link' %>
                </div>
              </td>
            </tr>
            <% end %>
            <% if @workorders.length == 0 %>
            <tr><td colspan=42 class='text-center'>No workorders.</td></tr>
            <% end %>
          </tbody>
        </table>
      </div>


    </div>

  </div>
</div>
