<% @title = "Showing Work Order" %>

<% content_for :description do %>
<h4>Show a Work Order</h4>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Address</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.address %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Description</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.description %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Due date</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.date_planned %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Date done</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.date_done %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Report</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.report %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Status</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.status %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Manager</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.manager.email %>
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Technician</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @workorder.technician.email %>
                </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_workorder_path(@workorder), class: 'btn btn-primary' %>
                <%= link_to 'Back', workorders_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
