
<div class="container">

  <div class="row">
     <div class="card card-tile-hero col-sm text-center" >
    <h4 id="welcome"> Welcome <%= current_user.name %> </h4>
    </div>
  </div>

  <div class="row">

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-unlock display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>OPEN</small>
        <% o = Workorder.where({status: "Open"}) %>
        <h3 class="m-0 leading-normal"><%= o.count %></h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-calendar display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>SCHEDULED</small>
        <% s = Workorder.where({status: "Scheduled"}) %>
        <h3 class="m-0 leading-normal"><%= s.count %></h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-timer display-1 text-brand-primary-lightest"></i>
      </div>

      <div class="card-body text-center">
        <small>IN PROGRESS</small>
        <% i = Workorder.where({status: "In progress"}) %>
        <h3 class="m-0 leading-normal"><%= i.count %></h3>
      </div>
    </div>

    <div class="card card-tile-hero col-sm ">
      <div class="card-header text-center">
        <i class="ti-lock display-1 text-brand-primary-lightest"></i>
      </div>
      <div class="card-body text-center">
        <small>DONE</small>
        <% c = Workorder.where({status: "Closed"}) %>
        <h3 class="m-0 leading-normal"><%= c.count %></h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card card-metric card-full-bleed inspectable">
        <!-- component-title: Metric Graph -->
        <div class="card-body">
          <canvas class='metric-graph metric-random-graph'></canvas>
          <div class="metric-header">
            <h6>Intervention delay for the week</h6>
            <div class="metric-value">2H35</div>
          </div>
          <div class="metric-details">
            <span>
              <i class="fa fa-chevron-up text-success"></i>
              12% SINCE 30 Days Ago
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card card-full-bleed card-metric inspectable">
        <!-- component-title: Metric Graph -->
        <div class="card-body">
          <canvas class='metric-graph metric-random-graph'></canvas>
          <div class="metric-header">
            <h6>Resolution delay for the week</h6>
            <div class="metric-value">4H15</div>
          </div>
          <div class="metric-details">
            <span>
              <i class="fa fa-chevron-down text-danger"></i>
              22% SINCE 30 Days Ago
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
     <div class="card card-tile-hero col-sm text-center" >
        <h4 id="welcome"> TEAM ON THE FIELD TODAY </h4>
        <div
          id="map"
          style="width: 100%;
          height: 600px;
          margin-bottom: 15px"
          data-markers="<%= @markers.to_json %>"
          <% if  !params[:technician].nil?  %>
          data-technician="true"
          <% end %>
        ></div>
    </div>
  </div>

  <div class="row">
     <div class="card card-tile-hero card-body col-sm text-center" >

      <%= form_tag(root_path, method: :get, class: "form") do %>

      <div class="input-group">
      <%= collection_select(:technician, :id, User.where(user_type: 'technician').order(:email), :id, :email, {prompt: 'Select a technician'}, {class: "form-control"}) %>
      </div>
      <br>
      <div class="input-group">
        <%= select_tag :status, options_for_select(Workorder::STATUS), prompt: "select a status", class: "form-control" %>
      </div>
      <br>

      <div class="d-flex">
        <div class="ml-auto">
          <%= submit_tag 'Apply the filter', class: "btn btn-primary special_button" %>
          <% end %>
          <%= link_to "Cancel", root_path, class: 'btn btn-outline-default' %>
        </div>
      </div>

    </div>
  </div>


</div>







