<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h4><%= @workorder.date_planned.strftime('%I:%M')%></h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">

            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Address</div>
              <small>
                <%= @workorder.address %>
              </small>
            </div>

            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Description</div>
              <small>
                <%= @workorder.description %>
              </small>
            </div>



            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Due date</div>
              <small>
                <%= @workorder.date_planned %>
              </small>
            </div>

            <% if @workorder.status == "Done" %>
            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Due date</div>
              <small>
                <%= @workorder.date_done %>
              </small>
            </div>
            <% end %>

            <% if @workorder.status == "Done" %>
            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Report</div>
              <small>
                <%= @workorder.report %>
              </small>
            </div>
            <% end %>

            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Status</div>
              <small>
                <%= @workorder.status %>
              </small>
            </div>

            <div class="card-item-body mr-auto card-item-bottom-spacing">
              <div class="leading-normal">Manager</div>
              <small>
                <%= @workorder.manager.email %>
              </small>
            </div>


            <% if @workorder.status == "In progress" %>
            <%= form_tag(stop_intervention_path(@workorder)) do %>


            <div class="card-item-body mr-auto card-item-bottom-spacing">
             <label class=" form-label">Report</label>
             <%= text_area_tag :report, "", class: "form-control"%>
            </div>
              <div class="row">
                <div class="col-12">
                  <%= submit_tag "Stop", class: "btn btn-primary btn-block"%>
                  <% end %>
                </div>
               <% end %>
            </div>


                <div class="row">
                  <% if @workorder.status == "Scheduled" %>
                    <%= form_tag(start_intervention_path(@workorder), class: "col-6") do %>
                    <%= submit_tag "Start", class: "btn btn-primary btn-block"%>
                   <% end %>
                  <%= link_to 'Cancel', interventions_path, class: 'btn col-6' %>
                 <% end %>

                 <% if @workorder.status == "Done" %>
                 <div class="col-12">
                  <%= link_to 'Cancel', interventions_path, class: 'btn btn-block' %>
                 </div>
                 <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

