<%= render layout: "layouts/base" do %>
<% unless @hide_nav %>
<%= render partial: "layouts/side_menu" %>


<%= render partial: 'layouts/dashboard_top_nav' %>

<div class="main-content">
  <%end%>
  <% if content_for?(:description) || content_for(:actions) %>
  <div class="scaffold page-header d-flex align-items-center mb-3">
    <div class='container'>
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <% if content_for?(:description) %>
          <h2 class='m-0 tracking-tighter'><%= @title %></h2>
          <%= yield :description %>
        </div>
        <div class="col-12 col-md-6">
          <%= yield :actions %>
          <% end %>
        </div>
      </div>
    </div>

  </div><!-- /.page-header -->
  <% end %>

  <div class='container'>
    <div class='row'>
      <div class="col-12">
        <%= render "layouts/flashes" %>
      </div>
    </div>
  </div>

  <%= yield %>
  <% end %>
